Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure, :art: Web - App, :art: Web - Webchat, :art: Web - Widget

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

:art: Web - App:
  command: buildkite-agent pipeline upload web/app/.buildkite/pipeline.yml
  label: ':art: Web - App'

:art: Web - Webchat:
  command: buildkite-agent pipeline upload web/webchat/.buildkite/pipeline.yml
  label: ':art: Web - Webchat'

:art: Web - Widget:
  command: buildkite-agent pipeline upload web/widget/.buildkite/pipeline.yml
  label: ':art: Web - Widget'

fix: Update code 4
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: update code
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: last update with gh cli
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update code
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update workflows
  .github/workflows/release-tagging-step-1.yaml
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update code
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/index.js
Due: :aws-lambda: Lambda - Notify

fix: Update code
  infra/cloudformation/infrastructure/01-iam.yaml
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :building_construction: Base Infrastructure

fix: Remove unnessary comments
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update code
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

feat: improve comments
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update comments
  service/lambda/notify/functions/send-message/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

fix: Update comments 123
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

feat: Comment cleanup
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

feat: Remove unused comments
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: add comment
  service/lambda/notify/functions/send-message/app.js
Due: :aws-lambda: Lambda - Notify

fix: add ssm param load code
  .buildkite/main.yml
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/lambda/ssm-notification/.buildkite/pipeline.yml
  service/lambda/ssm-notification/.buildkite/scripts/deploy
  service/lambda/ssm-notification/README.md
  service/lambda/ssm-notification/events/event.json
  service/lambda/ssm-notification/functions/with-direct-ssm/.npmignore
  service/lambda/ssm-notification/functions/with-direct-ssm/app.js
  service/lambda/ssm-notification/functions/with-direct-ssm/package-lock.json
  service/lambda/ssm-notification/functions/with-direct-ssm/package.json
  service/lambda/ssm-notification/functions/with-direct-ssm/tests/unit/test-handler.js
  service/lambda/ssm-notification/functions/with-middy/.npmignore
  service/lambda/ssm-notification/functions/with-middy/app.js
  service/lambda/ssm-notification/functions/with-middy/package-lock.json
  service/lambda/ssm-notification/functions/with-middy/package.json
  service/lambda/ssm-notification/functions/with-middy/tests/unit/test-handler.js
  service/lambda/ssm-notification/npm-install.sh
  service/lambda/ssm-notification/package-lock.json
  service/lambda/ssm-notification/package.json
  service/lambda/ssm-notification/template.yaml
  service/scanner/.buildkite/pipeline.yml
  service/workspace/.buildkite/pipeline.yml
  service/workspace/.buildkite/scripts/deploy
  service/workspace/.buildkite/scripts/docker-build
  service/workspace/config.yaml
  service/workspace/index.js
  service/workspace/package-lock.json
  service/workspace/package.json
  service/workspace/utils/Config.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: add and update CFT in services
  service/workspace/template.yaml
Due: none

fix: Update code
  service/lambda/ssm-notification/.buildkite/pipeline.yml
  service/workspace/.buildkite/pipeline.yml
Due: none

fix: update config
  service/lambda/ssm-notification/config.yaml
  service/lambda/ssm-notification/template.yaml
Due: none

fix: fix slash issue in ssm path
  service/lambda/ssm-notification/config.yaml
Due: none

fix: Add missing layers
  .gitignore
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/.env.sample
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/helpers/middyWrapper.js
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/index.js
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/package-lock.json
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/package.json
  service/lambda/ssm-notification/layers/mysql/nodejs/node_modules/mysql/index.js
  service/lambda/ssm-notification/layers/mysql/nodejs/node_modules/mysql/package-lock.json
  service/lambda/ssm-notification/layers/mysql/nodejs/node_modules/mysql/package.json
Due: none

fix: Update code to add Envs
  service/lambda/ssm-notification/config.yaml
  service/workspace/config.yaml
Due: none

fix: Add code
  service/lambda/ssm-notification/config.yaml
  service/workspace/config.yaml
Due: none

fix: Update code
  service/lambda/ssm-notification/config.yaml
  service/workspace/config.yaml
Due: none

fix: Update env
  service/lambda/ssm-notification/config.yaml
  service/workspace/config.yaml
Due: none

fix: Update code
  service/workspace/config.yaml
Due: none

fix: other service and lambda test
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

add debug logs
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/index.js
Due: none

add debug log
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/index.js
Due: none

fix: update template for test
  service/lambda/ssm-notification/functions/with-direct-ssm/app.js
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/index.js
  service/lambda/ssm-notification/template.yaml
Due: none

fix: Fix template SSM parameter issue
  service/lambda/ssm-notification/template.yaml
Due: none

fix: Update secret.yaml files
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/secret.yaml
  service/workspace/secret.yaml
Due: none

fix: Update code
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/secret.yaml
  service/workspace/secret.yaml
Due: none

fix: Update code 3
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/secret.yaml
  service/workspace/secret.yaml
Due: none

fix: update code
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/secret.yaml
  service/workspace/secret.yaml
Due: none

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
  :art: Web - App: any of: web/app
  :art: Web - Webchat: any of: web/webchat
  :art: Web - Widget: any of: web/widget
