Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

Update template.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: integrate bsm plugin
  .buildkite/main.yml
  .buildkite/scripts/diff
Due: none

fix: test
  .buildkite/main.yml
Due: none

fix: Add debug logs
  .buildkite/main.yml
  .buildkite/scripts/diff
Due: none

fix: Add help debug
  .buildkite/scripts/diff
Due: none

fix: Add debug step
  .buildkite/main.yml
Due: none

fix: Update code
  .buildkite/scripts/diff
Due: none

fix: add debug code
  .buildkite/scripts/diff
Due: none

fix: Update code
  .buildkite/main.yml
  .buildkite/scripts/diff
Due: none

fix: Update tagging
  .buildkite/main.yml
Due: none

fix: Update in service
  service/lambda/notify/README.md
Due: :aws-lambda: Lambda - Notify

fix: Update code
  service/lambda/notify/README.md
Due: :aws-lambda: Lambda - Notify

fix: 3 test
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/functions/recieve-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: 3 Test 2
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: update code
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Fix typo error
  service/lambda/notify/.buildkite/pipeline.yml
Due: :aws-lambda: Lambda - Notify

fix: update readme
  README.md
Due: none

fix: Bash variable test
  .buildkite/main.yml
  .buildkite/scripts/bugfixes-notify-and-grooming
Due: none

feat: Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

feat: add comments
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update github-action workflows
  .github/workflows/release-tagging-step-1.yaml
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: typo error in stage 2 workflow
  .github/workflows/release-tagging-step-2.yaml
Due: none

feat: Add comments
  service/lambda/notify/functions/send-message/app.js
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/index.js
  web/webchat/index.html
Due: :aws-lambda: Lambda - Notify

fix: add GitHub Token
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: update workflow
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Fix user info issue
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Release description issue
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update stage 2 script
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Fix stage 2 release creation issue
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update pipeline
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Fix update code
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update workflow
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: get comment
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update code
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: get new chnages only
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: Update code 2
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: chnage branch
  .github/workflows/release-tagging-step-2.yaml
Due: none

fix: update code 3
  .github/workflows/release-tagging-step-2.yaml
Due: none

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
