Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :amazon-ecs: Workspace, :aws-lambda: Lambda - Notify, :aws-lambda: Lambda - SSM-notification, :building_construction: Base Infrastructure, :art: Web - App, :art: Web - Webchat, :art: Web - Widget

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:amazon-ecs: Workspace:
  command: buildkite-agent pipeline upload service/workspace/.buildkite/pipeline.yml
  label: ':amazon-ecs: Workspace'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:aws-lambda: Lambda - SSM-notification:
  command: buildkite-agent pipeline upload service/lambda/ssm-notification/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - SSM-notification'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

:art: Web - App:
  command: buildkite-agent pipeline upload web/app/.buildkite/pipeline.yml
  label: ':art: Web - App'

:art: Web - Webchat:
  command: buildkite-agent pipeline upload web/webchat/.buildkite/pipeline.yml
  label: ':art: Web - Webchat'

:art: Web - Widget:
  command: buildkite-agent pipeline upload web/widget/.buildkite/pipeline.yml
  label: ':art: Web - Widget'

fix: Update config
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/package-lock.json
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/package.json
Due: :aws-lambda: Lambda - SSM-notification

Update pipeline.yml
  service/lambda/ssm-notification/.buildkite/pipeline.yml
Due: :aws-lambda: Lambda - SSM-notification

fix: Update IaC Plugin version
  service/lambda/ssm-notification/.buildkite/pipeline.yml
Due: :aws-lambda: Lambda - SSM-notification

update lambda
  service/lambda/ssm-notification/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - SSM-notification

update ECS
  service/workspace/.buildkite/pipeline.yml
  service/workspace/config.yaml
Due: :amazon-ecs: Workspace

feat: Update code
  infra/cloudformation/infrastructure/other/02-prod-iam-user.yaml
  service/lambda/notify/functions/recieve-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update template.yaml
  service/workspace/template.yaml
Due: :amazon-ecs: Workspace

Update template.yaml
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API

fix: Add git workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/config/labeler.yml
  .github/workflows/cfn-linter.yaml
  .github/workflows/labeler.yaml
Due: none

feat: Update git flow
  .github/workflows/cfn-linter.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: Update code
  .github/workflows/cfn-linter.yaml
Due: none

fix: Fix linting issues
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: Update pipeline
  .github/workflows/cfn-linter.yaml
Due: none

fix: Add static hosting template
  infra/cloudformation/infrastructure/frontend/static-hosting.yaml
Due: :building_construction: Base Infrastructure

fix: Update frontend pipelien IaC
  infra/cloudformation/infrastructure/frontend/static-hosting.yaml
Due: :building_construction: Base Infrastructure

Update diff
  .buildkite/scripts/diff
Due: none

Update app.js
  service/lambda/notify/functions/send-message/app.js
Due: :aws-lambda: Lambda - Notify

Update pipeline.yml
  .buildkite/pipeline.yml
Due: none

Update app.js
  service/lambda/ssm-notification/functions/with-direct-ssm/app.js
Due: :aws-lambda: Lambda - SSM-notification

Update app.js
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :amazon-ecs: Workspace: any of: service/workspace/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :aws-lambda: Lambda - SSM-notification: any of: service/lambda/ssm-notification/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
  :art: Web - App: any of: web/app
  :art: Web - Webchat: any of: web/webchat
  :art: Web - Widget: any of: web/widget
