Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

.buildkite/main.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.0.4:
          diff: ".buildkite/scripts/diff"
          interpolation: false
          watch:
            # ========================== Pipeline for ECS ==========================
            - path:
                - "service/scanner/"
              config:
                command: "buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml"
                label: ":amazon-ecs: Scanner API"
            # ========================== Pipeline for Lambdas ==========================
            - path:
                - "service/lambda/notify/"
              config:
                command: "buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml"
                label: ":aws-lambda: Lambda - Notify"
            # ========================== Pipeline for Infrastructure ==========================
            - path:
                - "infra/cloudformation/"
              config:
                command: "buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml"
                label: ":building_construction: Base Infrastructure"
  - wait

  # Tagging build last commit for diffing purpose
  - label: "Tag Build"
    if:  build.branch == 'main'
    command: "echo $(git rev-parse HEAD) > ~/last_successful_production_build"

Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

Update 01-iam.yaml
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update package.json
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

Update README.md
  README.md
Due: none

Update 01-iam.yaml (#16)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update package.json (#17)
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

Update README.md (#18)
  README.md
Due: none

Update 01-iam.yaml (#19)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update app.js (#20)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update 01-iam.yaml (#12)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update app.js (#21)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update app.js (#22)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update app.js (#23)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated
  github-context.json
Due: none

Create CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#24)
  CHANGELOG.md
Due: none
