Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

.buildkite/main.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.0.4:
          diff: ".buildkite/scripts/diff"
          interpolation: false
          watch:
            # ========================== Pipeline for ECS ==========================
            - path:
                - "service/scanner/"
              config:
                command: "buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml"
                label: ":amazon-ecs: Scanner API"
            # ========================== Pipeline for Lambdas ==========================
            - path:
                - "service/lambda/notify/"
              config:
                command: "buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml"
                label: ":aws-lambda: Lambda - Notify"
            # ========================== Pipeline for Infrastructure ==========================
            - path:
                - "infra/cloudformation/"
              config:
                command: "buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml"
                label: ":building_construction: Base Infrastructure"
  - wait

  # Tagging build last commit for diffing purpose
  - label: "Tag Build"
    if:  build.branch == 'main'
    command: "echo $(git rev-parse HEAD) > ~/last_successful_production_build"

Auto generated - New Release
  CHANGELOG.md
  package.json
Due: none

Auto generated - New Release
  CHANGELOG.md
Due: none

Auto generated - New Release (v1.1.0)
  CHANGELOG.md
Due: none

Update CHANGELOG.md - reset
  CHANGELOG.md
Due: none

Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update app.js (#25)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.1.1)
  CHANGELOG.md
  package.json
Due: none

Auto generated - New Release (v1.1.1)
  CHANGELOG.md
Due: none

Auto generated - New Release (v1.0.25)
  CHANGELOG.md
  package.json
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

fix: Add package.json for scanner service
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.0.25)
  CHANGELOG.md
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.0.25)
  CHANGELOG.md
Due: none

Auto generated - New Release (v1.0.25)
  CHANGELOG.md
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
Due: :aws-lambda: Lambda - Notify

Update app.js (#26)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.1.0)
  CHANGELOG.md
  package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

Update app.js (#27)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.2.0)
  CHANGELOG.md
  package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

Update index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify
