Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

fix: update config file path
  .github/workflows/release-please-config.json
Due: none

fix: Update code
  .github/workflows/.release-please-manifest.json
Due: none

fix: Update code
  .release-please-manifest.json
  release-please-config.json
Due: none

fix: remove unused configs
  release-please-config.json
Due: none

fix: Update config
  release-please-manifest.json
Due: none

fix: Update Github Action
  .github/workflows/pr-metadata.yaml
  .github/workflows/release.yaml
Due: none

Update app.js
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update app.js (#1)
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update template.yaml
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API

Update 01-iam.yaml
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

fix: Update Action event
  .github/workflows/pr-metadata.yaml
Due: none

Update 01-iam.yaml (#8)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Update index.js (#9)
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

fix: Update workflow
  .github/workflows/pr-metadata.yaml
Due: none

fix: Update action
  .github/workflows/pr-metadata.yaml
Due: none

Update 01-iam.yaml (#13)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update 01-iam.yaml (#14)
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update app.js (#11)
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Update index.js (#15)
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
