Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

Update template.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update v0.3.26 plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Add dummy parameter for SAM template
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update SAM template for test
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update SAM parameter for testing
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update template
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update SAM template
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update infra template
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Update service level template
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API

Update ECS template
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API

Update service template
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API

Enable sentry
  .gitignore
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
Due: :aws-lambda: Lambda - Notify

Add more data to body
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Clean Body data
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update app.js with new error
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Add new Error
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error levels
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update Error level v2
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error level v3
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error level v4
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Last version update
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error level v5
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error level v6
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error level v7
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error and ver
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Update Version
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Update error and version
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Update error logs to 2720 and 4720
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error logs to 2730 and 4730
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Fix sentry integration issues for test
  .gitignore
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update error logs to 2740 and 4740
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update error logs to 2745 and 4745
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

feat: Update ELK based integrations
  service/lambda/notify/hello-world/app.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/package-lock.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

feat: update Github Action config
  .github/workflows/release.yaml
Due: none

fix: Add main root level package.json
  package.json
Due: none

fix: Add config json file
  release-please-config.json
Due: none

fix: Update json file name
  .release-please-manifest.json
Due: none

fix: Update config
  .release-please-manifest.json
  release-please-config.json
Due: none

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
