Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

.buildkite/main.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.0.4:
          diff: ".buildkite/scripts/diff"
          interpolation: false
          watch:
            # ========================== Pipeline for ECS ==========================
            - path:
                - "service/scanner/"
              config:
                command: "buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml"
                label: ":amazon-ecs: Scanner API"
            # ========================== Pipeline for Lambdas ==========================
            - path:
                - "service/lambda/notify/"
              config:
                command: "buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml"
                label: ":aws-lambda: Lambda - Notify"
            # ========================== Pipeline for Infrastructure ==========================
            - path:
                - "infra/cloudformation/"
              config:
                command: "buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml"
                label: ":building_construction: Base Infrastructure"
  - wait

  # Tagging build last commit for diffing purpose
  - label: "Tag Build"
    if:  build.branch == 'main'
    command: "echo $(git rev-parse HEAD) > ~/last_successful_production_build"

Update Plugin
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin to v0.3.2
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: parameter type only string support issue
  infra/cloudformation/.buildkite/pipeline.yml
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Change parm order
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

Update plugin to v0.3.5
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Remove outputs
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

Add pw fields with noecho property
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update iam templates for no-echo test
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/06-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

Update template
  infra/cloudformation/infrastructure/other/06-stg-iam-user.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update templates
  infra/cloudformation/.buildkite/pipeline.yml
  infra/cloudformation/infrastructure/other/07-stg-iam-user.yaml
  service/lambda/notify/.buildkite/pipeline.yml
  service/lambda/notify/template.yaml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Mixing param issue test
  infra/cloudformation/infrastructure/other/10-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/11-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

Update plugin to v0.3.7
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin values
  service/lambda/notify/.buildkite/pipeline.yml
Due: :aws-lambda: Lambda - Notify

Update version of IaC plugin
  infra/cloudformation/.buildkite/pipeline.yml
  infra/cloudformation/infrastructure/other/22-stg-iam-user.yaml
  service/lambda/notify/.buildkite/pipeline.yml
  service/lambda/notify/npm-install.sh
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update IaC plugin version v0.3.10
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin version to v0.3.12
  infra/cloudformation/.buildkite/pipeline.yml
  infra/cloudformation/infrastructure/other/22-stg-iam-user.yaml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

add temp layer
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Add app layer
  .gitignore
  service/lambda/notify/.gitignore
  service/lambda/notify/layers/app/nodejs/node_modules/app/.env.sample
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
Due: :aws-lambda: Lambda - Notify

Update API
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Add new test layer
  .gitignore
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/index.js
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update npm install
  service/lambda/notify/npm-install.sh
Due: :aws-lambda: Lambda - Notify

Update plugin version to v0.3.13
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin v0.3.14
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin v0.3.15
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update mysql layer use
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update plugin
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/hooks/post-checkout
  service/lambda/notify/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/scripts/deploy
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Plugin update
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update Plugin v0.3.17
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Add permission
  service/lambda/notify/.buildkite/scripts/deploy
Due: :aws-lambda: Lambda - Notify

Update script
  service/lambda/notify/.buildkite/scripts/deploy
Due: :aws-lambda: Lambda - Notify

Update v0.3.19 plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Fix SAM nothing to execute issue
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Minimize the test
  infra/cloudformation/infrastructure/other/03-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/04-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/06-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/07-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/08-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/10-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/11-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/12-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/13-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/14-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/15-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/16-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/17-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/18-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/19-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/20-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/21-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

Update commit
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  service/lambda/notify/hello-world/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin v0.3.22
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update v0.3.23 plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update v0.3.24 plugin
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update plugin to v0.3.25
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure
