Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

.buildkite/main.yml:

steps:
  - label: "Triggering pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.0.4:
          diff: ".buildkite/scripts/diff"
          interpolation: false
          watch:
            # ========================== Pipeline for ECS ==========================
            - path:
                - "service/scanner/"
              config:
                command: "buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml"
                label: ":amazon-ecs: Scanner API"
            # ========================== Pipeline for Lambdas ==========================
            - path:
                - "service/lambda/notify/"
              config:
                command: "buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml"
                label: ":aws-lambda: Lambda - Notify"
            # ========================== Pipeline for Infrastructure ==========================
            - path:
                - "infra/cloudformation/"
              config:
                command: "buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml"
                label: ":building_construction: Base Infrastructure"
  - wait

  # Tagging build last commit for diffing purpose
  - label: "Tag Build"
    if:  build.branch == 'main'
    command: "echo $(git rev-parse HEAD) > ~/last_successful_production_build"

Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

fix: Delete unwanted CFTs
  infra/cloudformation/infrastructure/other/03-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/04-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/05-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/06-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/07-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/08-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/10-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/11-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/12-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/13-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/14-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/15-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/16-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/17-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/18-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/19-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/20-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/21-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/22-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

fix: Update the iac plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Remove Unused Elastic APM layers
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

Update template.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: Add APM layers - To Fail
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: Update Iac Plugin version
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Remove unused APM
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify

fix: Update for test staging
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  service/lambda/notify/template.yaml
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update test
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  service/lambda/notify/template.yaml
Due: :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

feat: Add sample web apps
  .buildkite/main.yml
  web/app/.buildkite/pipeline.yml
  web/app/.buildkite/scripts/docker-build-and-deploy
  web/app/.buildkite/scripts/invalidate-cache
  web/app/index.html
  web/webchat/.buildkite/pipeline.yml
  web/webchat/.buildkite/scripts/docker-build-and-upload
  web/webchat/.buildkite/scripts/invalidate-cache
  web/webchat/index.html
  web/widget/.buildkite/pipeline.yml
  web/widget/.buildkite/scripts/docker-build-and-upload
  web/widget/.buildkite/scripts/invalidate-cache
  web/widget/index.html
Due: none

fix: Update branch
  web/app/.buildkite/pipeline.yml
  web/webchat/.buildkite/pipeline.yml
  web/widget/.buildkite/pipeline.yml
Due: none

fixL: Revert Branch to main
  web/app/.buildkite/pipeline.yml
  web/webchat/.buildkite/pipeline.yml
  web/widget/.buildkite/pipeline.yml
Due: none

fix: Update version of IaC plugin
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update IaC Plugin Version - v0.3.31
  infra/cloudformation/.buildkite/pipeline.yml
  service/lambda/notify/.buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update default git branch and ECS block step
  .buildkite/main.yml
  .buildkite/pipeline.yml
  service/scanner/.buildkite/pipeline.yml
Due: :amazon-ecs: Scanner API

fix: Update block's branch for web apps
  web/app/.buildkite/pipeline.yml
  web/webchat/.buildkite/pipeline.yml
  web/widget/.buildkite/pipeline.yml
Due: none

fix: Add dummy changes for test multi-agents
  infra/cloudformation/infrastructure/01-iam.yaml
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/02-prod-iam-user.yaml
  service/lambda/notify/template.yaml
  service/scanner/template.yaml
  web/app/index.html
  web/webchat/index.html
  web/widget/index.html
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Update parallelism config
  .buildkite/pipeline.yml
Due: none

fix: Remove parallelism config - That's a SHIT :hankey:
  .buildkite/pipeline.yml
Due: none

fix: Update dev related configs
  .buildkite/main.yml
  .buildkite/pipeline.yml
Due: none

fix: Update git diff script
  .buildkite/scripts/diff
Due: none

fix: Update readme
  README.md
Due: none

fix: Add dummy configs
  infra/cloudformation/infrastructure/01-iam.yaml
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/02-prod-iam-user.yaml
  service/lambda/notify/template.yaml
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Dummy commit for testing update process
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: Dummy update 2
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: only infra change
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

feat: Implement new config change
  .github/config/release-management.yaml
  .github/workflows/pr-metadata.yaml
Due: none

fix: Update config
  .github/config/release-management.yaml
Due: none

fix: update content
  infra/cloudformation/infrastructure/01-iam.yaml
  package.json
  service/lambda/notify/template.yaml
  service/scanner/template.yaml
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: update code
  README.md
  web/app/index.html
Due: none

fix: test lambda layers
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

fix: test web section and lambda functions
  service/lambda/notify/functions/recieve-message/app.js
  service/lambda/notify/functions/send-message/app.js
  service/lambda/notify/functions/send-message/package.json
  web/webchat/package.json
  web/widget/index.html
Due: :aws-lambda: Lambda - Notify

fix: Update action version
  .github/workflows/pr-metadata.yaml
  web/app/package.json
Due: none

fix: add some test comments
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/functions/recieve-message/app.js
  service/scanner/app.js
  web/webchat/index.html
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

fix: update in service
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

feat: Update comments
  service/lambda/notify/README.md
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

fix: service hidden issue
  infra/cloudformation/infrastructure/01-iam.yaml
  service/lambda/notify/functions/recieve-message/app.js
  service/lambda/notify/functions/send-message/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Update index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify
