Repository hasithaishere/express-buildkite-integration: changes, and which Buildkite steps are due for each by the changed paths.
All: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

:amazon-ecs: Scanner API:
  command: buildkite-agent pipeline upload service/scanner/.buildkite/pipeline.yml
  label: ':amazon-ecs: Scanner API'

:aws-lambda: Lambda - Notify:
  command: buildkite-agent pipeline upload service/lambda/notify/.buildkite/pipeline.yml
  label: ':aws-lambda: Lambda - Notify'

:building_construction: Base Infrastructure:
  command: buildkite-agent pipeline upload infra/cloudformation/.buildkite/pipeline.yml
  label: ':building_construction: Base Infrastructure'

Update index.js (#28)
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

Auto generated - New Release (v1.2.1)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

Update 01-stg-iam-user.yaml
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
Due: :building_construction: Base Infrastructure

fix: Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

feat: Update app.js
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update 01-stg-iam-user.yaml (#29)
  infra/cloudformation/infrastructure/other/01-stg-iam-user.yaml
  service/lambda/notify/hello-world/app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify, :building_construction: Base Infrastructure

Auto generated - New Release (v1.3.0)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

Update app.js
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

fix: Update 01-iam.yaml
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

feat: Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.3.0)
  CHANGELOG.md
Due: none

feat: Update README.md
  README.md
Due: none

fix: Update app.js
  service/lambda/notify/hello-world/app.js
Due: :aws-lambda: Lambda - Notify

Update app.js
  service/scanner/app.js
Due: :amazon-ecs: Scanner API

Auto generated - New Release (v1.3.1)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

fix: Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

Auto generated - New Release (v1.3.2)
  CHANGELOG.md
  package.json
Due: none

Auto generated - New Release (v1.4.0)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

Auto generated - New Release (v1.4.1)
  CHANGELOG.md
  package.json
Due: none

Auto generated - New Release (v1.4.1)
  CHANGELOG.md
Due: none

Auto generated - New Release (v1.3.3)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/app/nodejs/node_modules/app/package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API, :aws-lambda: Lambda - Notify

feat: Update index.js
  service/lambda/notify/layers/app/nodejs/node_modules/app/index.js
Due: :aws-lambda: Lambda - Notify

feat: Update index.js
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/index.js
Due: :aws-lambda: Lambda - Notify

Auto generated - New Release (v1.5.0)
  CHANGELOG.md
  package.json
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/package.json
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

Auto generated - New Release (v1.5.1)
  CHANGELOG.md
  package.json
  service/lambda/notify/package.json
Due: :aws-lambda: Lambda - Notify

Update 01-iam.yaml
  infra/cloudformation/infrastructure/01-iam.yaml
Due: :building_construction: Base Infrastructure

Auto generated - New Release (v1.6.0)
  CHANGELOG.md
  package.json
  service/scanner/package.json
Due: :amazon-ecs: Scanner API

Update index.js
  service/lambda/notify/layers/mysql/nodejs/node_modules/mysql/index.js
Due: :aws-lambda: Lambda - Notify

feat: Update pr-metadata.yaml
  .github/workflows/pr-metadata.yaml
Due: none

Path conditions:
  :amazon-ecs: Scanner API: any of: service/scanner/
  :aws-lambda: Lambda - Notify: any of: service/lambda/notify/
  :building_construction: Base Infrastructure: any of: infra/cloudformation/
